name: Feature Branch Libraries build

on: [ push, pull_request ]

jobs:
  build-job:
    runs-on: ubuntu-latest # enables hardware acceleration in the virtual machine
    timeout-minutes: 30

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Copy CI gradle.properties
        run: mkdir -p ~/.gradle ; cp .github/ci-gradle.properties ~/.gradle/gradle.properties

      - name: Set up JDK 22
        uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: 22


      - name: Print git commit variables
        run: |
          echo "TAG: $CURRENT_TAG"

      - name: Copy CI gradle.properties
        run: mkdir -p ~/.gradle ; cp .github/ci-gradle.properties ~/.gradle/gradle.properties

      # Use --no-daemon only if you must. With setup-gradle, the build runs efficiently without a long-lived daemon anyway.
      - name: Build and Test (PR)
        if: github.event_name == 'pull_request'
        run: |
          ./gradlew --stacktrace \
            -Dorg.gradle.caching=true \
            -Dorg.gradle.configuration-cache=true \
            -Dorg.gradle.parallel=true \
            clean assemble allTests

      - name: Build and Test (push)
        if: github.event_name != 'pull_request'
        run: |
          ./gradlew --stacktrace \
            -Dorg.gradle.caching=true \
            -Dorg.gradle.configuration-cache=true \
            -Dorg.gradle.parallel=true \
             assemble allTests
